.h2, h2,.h4, h4 {
  color:rgb(0,167,225);
}

caption {
  color:#333;
  font-weight: bold;
  text-align: center;
}

.boxtab0 {
  position: relative;
}

.boxtab1 {
  position:absolute;
  left:calc(80%);
  top:0px;
  margin-top:6px;
  z-index:2
}

.boxtab2 {
  position:absolute;
  left:0px;
  top:0px;
  width:calc(80%);
  z-index:1
}

.download-button {
  float: right;
}